---
import Ensembles1 from "../../assets/Ensembles1.png"
import Ensembles2 from "../../assets/Ensembles2.png"
import EnsemblesReduced from "../../assets/EnsemblesReduced.png"
import EnsemblesInjection from "../../assets/EnsemblesInjection.png"
import EnsemblesCollision from "../../assets/EnsemblesCollision.png"
import EnsemblesFinal from "../../assets/EnsemblesFinal.png"
---

<section data-background-image={Ensembles1.src} data-background-size="contain"></section>
<section data-background-image={Ensembles2.src} data-background-size="contain"></section>
<section data-background-image={EnsemblesInjection.src} data-background-size="contain"></section>
<section data-background-image={Ensembles2.src} data-background-size="contain"></section>
<section data-background-image={EnsemblesReduced.src} data-background-size="contain"></section>
<section data-background-image={EnsemblesCollision.src} data-background-size="contain"></section>
<section data-background-image={EnsemblesFinal.src} data-background-size="contain"></section>
