---
import Athenes from "../../assets/ecole_athenes.jpeg"
import Guernica from "../../assets/guernica.webp";
import Kandinsky from "../../assets/kandinsky.jpeg";
import KandinskyZoom1 from "../../assets/kandinsky_zoom_1.jpeg";
import KandinskyZoom2 from "../../assets/kandinsky_zoom_2.jpeg";
import KandinskyZoom3 from "../../assets/kandinsky_zoom_3.jpeg";
---

<section data-background-image={Athenes.src} data-background-size="contain"></section>
<section data-background-image={Guernica.src} data-background-size="contain"></section>
<section data-background-image={Kandinsky.src} data-background-transition="fade-in zoom-out" data-background-size="contain"></section>
<section data-background-image={KandinskyZoom1.src} data-background-transition="zoom" data-background-size="contain"></section>
<section data-background-image={KandinskyZoom2.src} data-background-transition="zoom" data-background-size="contain"></section>
<section data-background-image={KandinskyZoom3.src} data-background-transition="zoom-in fade-out"data-background-size="contain"></section>
